@font-face {
    font-family: 'Graphik';
    font-display: swap;
    src: url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-regular-web-eot.eot');
    src: url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-regular-web-eot.eot?#iefix') format('embedded-opentype'), url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-regular-web-woff.woff') format('woff'), url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-regular-web-ttf.ttf') format('truetype');
}

@font-face {
    font-family: 'Graphik Bold';
    font-display: swap;
    src: url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-bold-web-eot.eot');
    src: url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-bold-web-eot.eot?#iefix') format('embedded-opentype'), url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-bold-web-woff.woff') format('woff'), url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-bold-web-ttf.ttf') format('truetype');
}

@font-face {
    font-family: 'Graphik SemiBold';
    font-display: swap;
    src: url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-semibold-web-web.eot');
    src: url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-semibold-web-eot.eot?#iefix') format('embedded-opentype'), url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-semibold-web-woff.woff') format('woff'), url('/-/media/themes/bhp1ip/bhp1ip-en/bhp1ip-en/fonts/graphik/graphik-semibold-web-ttf.ttf') format('truetype');
}

$font-normal: 'Graphik',
Arial,
Helvetica,
sans-serif;
$font-Bold: 'Graphik Bold',
Arial,
Helvetica,
sans-serif;
$font-semi-bold: 'Graphik SemiBold',
Arial,
Helvetica,
sans-serif;